<h1 class="demo_title">Demo</h1>
<div class="pos_grid">
    <div class="menu grid_cell" id="menu">
    </div>
    
    <div class="sale grid_cell">
        <div class="order_display">
            <ul class="order_list" id="sales_order_list">

            </ul>
        </div>
        <button class="white_button pay_button" onclick="pay()">Pay</button>
    </div>
</div>
<script src="../js/addItemToSalesOrder.js"></script>
<script src="../js/payment.js"></script>
<script src="../js/loadProducts.js"></script>