<h1 class="demo_title">Demo</h1>
<div class="pos_grid">
    <div class="menu grid_cell">
        <button class="white_button">Chip</button>
        <button class="white_button">Burger</button>
        <button class="white_button">Chip</button>
        <button class="white_button">Burger</button>
    </div>
    
    <div class="sale grid_cell">
        <div class="order_display"></div>
        <button class="white_button">Pay</button>
    </div>
</div>