<!-- <h1 class="demo_title">Demo</h1> -->
<!-- <a href="/stock">Stock</a> -->
<div class="pos_grid">
    <div class="menu_container">
        <div class="menu grid_cell" id="menu">
        </div>
        <div class="category_bar" id="category_bar"></div>
    </div>
    
    <div class="sale grid_cell">
        <div class="order_display">
            <div class="order_list" id="sales_order_list">

            </div>
            <div class="sale_total_display">
                <p class="sale_total_label">Total:</p>
                <p class="sale_total_amount" id="sale_total_amount">0.00</p>
            </div>
            <button class="pay_button" onclick="pay()">Pay</button>
        </div>
    </div>
</div>
<script src="../js/addItemToSalesOrder.js"></script>
<script src="../js/payment.js"></script>
<script src="../js/loadProducts.js"></script>
<script src="../js/totalSalePayment.js"></script>
<script src="../js/keepOrderListBottom.js"></script>
<script src="../js/loadCategories.js"></script>
<script src="../js/selectedCategory.js"></script>
<script src="../js/selectOrderItem.js"></script>