<h1 class="demo_title">Stock</h1>
<table class="stock_grid" id="stock_list">
        <tr>
            <th>Name</th>
            <th>Amount</th>
            <th>Restock</th>
        </tr>
</table>
<script src="../js/loadStock.js"></script>