:root{
    --background: #19181d;
    --ui: #1d1e2e;
    --highlight: #1C8C71;
    --border: #929292;
    --border-opaque: #9292927e;
    --order-item-delete: #c42a2a;
}

@font-face {
    font-family: Comfortaa;
    src: url("../fonts/Comfortaa-VariableFont_wght.ttf");
}

*{
    font-family: Comfortaa;
}

html{
    margin: 0;
    height: 100%;
}

body{
    margin: 0;
    background-color: var(--background);
    min-height: 100%;
    color: gainsboro;
}

.header{
    width:fit-content;
    height:fit-content;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    align-self: center;
}

#app_title{
    color: var(--app-title);
}

.demo_title{
    text-align: center;
    margin-top: 0;
    padding-top: 10px;
}

.pos_grid{
    height: 100%;
    width: 100%;
    display: grid;
    position: absolute;
    grid-template-columns: 70% 30%;
}

.menu{
    padding-top: 5rem;
    display: grid;
    grid-template-columns: repeat(4, calc(100% / 4));
    grid-template-rows: repeat(4, calc(100% / 4));
    justify-items: center;
}

.sales_products{
    width: 80%;
    border: none;
    color: gainsboro;
}

.stock_button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.9em;
    width: 80%;
    margin: 0 auto;
    border: none;
}

.stock_icon{
    height: inherit;
    margin: 0;
    padding: 0;
}

.order_display{
    margin: 0;
    background-color: var(--ui);
    height: 100vh;
    overflow: auto;
    display: block;
    text-align: center;
}

.sale_total_display{
    height: 10%;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.sale_total_label{
    padding: .5em;
    text-align: left;
}

.sale_total_amount{
    padding: .5em;
    text-align: right;
}

.pay_button{
    background-color: var(--highlight);
    color: gainsboro;
    width: 90%;
    height: 10%;
    border: none;
}

.order_list{
    list-style: none;
    padding: 0;
    display: block;
    height: 72%;
    overflow: auto;
    text-align: left;
}

.order_item_layout{
    display: flex;
    align-items: center;
}

.order_item_padding{
    padding: 1em;
}

.sales_order_item{
    border-bottom: 1px solid var(--border);
    display: grid;
    grid-template-columns: 50% 50%;
}

.sales_order_item_active{
    border-bottom: 1px solid var(--border);
    display: grid;
    grid-template-columns: 50% 30% 20%;
}

.showBlock{
    display: flex !important;
    align-items: center;
}

.order_item_delete{
    display: none;
    justify-content: center;
    background-color: var(--order-item-delete);
}

.price{
    justify-content: end;
}

.order_item_title{
    display: block !important;
}

.order_item_ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.stock_structure{
    height: 99vh;
    display: grid;
    grid-template-rows: 10% 50% 40%;
}

.stock_order_container{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 70% 30%;
}

.stock_order_display{
    justify-self: center;
    align-self: center;
    background-color: var(--ui);
    height: 90%;
    width: 40%;
    border: var(--highlight) 2px solid;
    overflow-y: auto;
    display: grid;
    grid-template-columns: 100%;
}

.stock_order_item{
    text-align: center;
    align-self: center;
}

.stock_order_button{
    justify-self: center;
    width: 20%;
    background-color: var(--highlight);
    color: gainsboro;
    border: none;
}

.stock_grid{
    width: 60%;
    margin: 0 auto;
    border: 1px solid gainsboro;
}

#inner_table{
    width: 100%;
}

#stock_content{
    height: 15em;
    overflow-y: auto;
}

.table_header{
    height: 10px;
}

.stock_grid tbody:nth-child(even){
    background-color: var(--ui)
}

.stock_grid th{
    font-size: large;
    text-decoration: underline;
    padding: 1em;
}

.stock_grid td{
    text-align: center;
    padding: 0.5em;
}

.ui_colour{
    background-color: var(--ui);
}

.menu_container{
    display : grid;
    grid-template-rows: 88% 12%;
}

.category_bar{
    background-color: var(--ui);
    display: grid;
    grid-auto-flow: column;
    overflow-x: auto;
    grid-auto-columns: minmax(160px,1fr);
}

.category_button{
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active_category{
    box-shadow: inset 0 0.25em 0 0 var(--highlight);
}

/* Scroll bar  */
::-webkit-scrollbar { width: 4px; height: 3px;}
::-webkit-scrollbar-button {  background-color: var(--highlight); }
::-webkit-scrollbar-track {  background-color: var(--highlight);}
::-webkit-scrollbar-track-piece { background-color: var(--background);}
::-webkit-scrollbar-thumb { height: 50px; background-color: var(--highlight); border-radius: 3px;}
::-webkit-scrollbar-corner { background-color: var(--highlight);}
::-webkit-resizer { background-color: var(--highlight);}